<!-- NOTE: DO NOT WORK -->

<% cache message do %>
  <div>
    <span><%= message.user.name %></span>
    <div class="<%= current_user == message.user ? 'baloon-right' : 'baloon-left' %>">
      <%= message.content %>
    </div>
  </div>
<% end %>
