<!--

<% cache message do %>
  <div>
    <span><%= message.user.name %></span>
    <div class="<%= current_user == message.user ? 'balloon-right' : 'balloon-left' %>">
      <%= message.content %>
    </div>
  </div>
<% end %>

-->
