@mixin baloon($background-color: #FFFFFF) {
  word-break : break-all;
  position: relative;
  min-width: 10px;
  max-width: 300px;
  min-height: 30px;
  padding: 5px 8px 0 8px;
  background: $background-color;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: #7F7F7F solid 3px;
}

.baloon-right {
  @include baloon(#9DFF9A);
}

.baloon-right:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 8px 0 8px 12px;
  border-color: transparent #9DFF9A;
  display: block;
  width: 0;
  z-index: 1;
  right: -12px;
  top: 12px;
}

.baloon-right:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 10px 0 10px 14px;
  border-color: transparent #7F7F7F;
  display: block;
  width: 0;
  z-index: 0;
  right: -17px;
  top: 10px;
}

.baloon-left {
  @include baloon;
}

.baloon-left:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 8px 12px 8px 0;
  border-color: transparent #FFFFFF;
  display: block;
  width: 0;
  z-index: 1;
  left: -12px;
  top: 12px;
}

.baloon-left:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 10px 14px 10px 0;
  border-color: transparent #7F7F7F;
  display: block;
  width: 0;
  z-index: 0;
  left: -17px;
  top: 10px;
}
