.baloon-right {
  position: relative;
  width: 250px;
  min-height: 50px;
  padding: 3px;
  background: #9DFF9A;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: #7F7F7F solid 3px;
}

.baloon-right:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 10px 0 10px 15px;
  border-color: transparent #9DFF9A;
  display: block;
  width: 0;
  z-index: 1;
  right: -15px;
  top: 15px;
}

.baloon-right:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 12px 0 12px 17px;
  border-color: transparent #7F7F7F;
  display: block;
  width: 0;
  z-index: 0;
  right: -20px;
  top: 13px;
}

.baloon-left {
  position: relative;
  width: 250px;
  min-height: 50px;
  padding: 3px;
  background: #FFFFFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: #7F7F7F solid 3px;
}

.baloon-left:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 10px 15px 10px 0;
  border-color: transparent #FFFFFF;
  display: block;
  width: 0;
  z-index: 1;
  left: -15px;
  top: 15px;
}

.baloon-left:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 12px 17px 12px 0;
  border-color: transparent #7F7F7F;
  display: block;
  width: 0;
  z-index: 0;
  left: -20px;
  top: 13px;
}
