.container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.messages-container {
  max-width: 600px;
  padding: 15px;
}

.message {
  margin: 5px 0;
}

.align-right {
  float: right;
  clear: both;
}

.align-left {
  float: left;
  clear: both;
}

.clear {
  clear: both;
  display: block;
  width: 100%;
  height: auto;
}
