.messages-container {
  max-width: 600px;
  padding: 15px;
}

.message {
  margin: 5px 0;
}

.align-right {
  float: right;
  clear: both;
}

.align-left {
  float: left;
  clear: both;
}

@mixin balloon($background-color: #FFFFFF) {
  word-break : break-all;
  position: relative;
  min-width: 10px;
  max-width: 300px;
  min-height: 30px;
  padding: 5px 8px 0 8px;
  background: $background-color;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: #7F7F7F solid 1px;
}

.balloon-right {
  @include balloon(#9DFF9A);
}

.balloon-right:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 7px 0 7px 11px;
  border-color: transparent #9DFF9A;
  display: block;
  width: 0;
  z-index: 1;
  right: -11px;
  top: 10px;
}

.balloon-right:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 8px 0 8px 12px;
  border-color: transparent #7F7F7F;
  display: block;
  width: 0;
  z-index: 0;
  right: -13px;
  top: 9px;
}

.balloon-left {
  @include balloon;
}

.balloon-left:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 7px 11px 7px 0;
  border-color: transparent #FFFFFF;
  display: block;
  width: 0;
  z-index: 1;
  left: -11px;
  top: 10px;
}

.balloon-left:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 8px 12px 8px 0;
  border-color: transparent #7F7F7F;
  display: block;
  width: 0;
  z-index: 0;
  left: -13px;
  top: 9px;
}
