.room-container {
  max-width: 600px;
  border: 1px #E5E5E5 solid;
}

.room-title {
  text-align: center;
  color: #FFFFFF;
  background-color: #555;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

.room-messages {
  padding: 0 20px 0 20px;
  background-color: #ececec;
  overflow: scroll;
  max-height: 600px;
}
